.dot {
    height: 4px;
    width: 4px;
    background-color: #636363;
    border-radius: 50%;
    display: inline-block;
}

#google-lietotnes {
    display: grid;
    grid-template-columns: repeat(3, 4px);
    grid-template-rows: repeat(3, 4px);
    gap: 2px;
}

a {
    text-decoration: none;
    color: black;
}

